src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:os="http://www.mulesoft.org/schema/mule/os"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <flow name="triggerPushFlow" doc:id="c025558e-d99f-47a6-b3bb-5115bec77c1d">
        <http:listener doc:name="Push notifications listener" doc:id="6db4d4dc-8e57-4e17-8661-a87fbbe16443" config-ref="HTTP_Listener_config"
            path="/" />
        <choice doc:name="Check trigger policy" doc:id="e0bb9347-78d3-48f6-9c14-e233d90327fc">
            <when expression="'push' == '${trigger.policy}'">
                <ee:transform doc:name="Transform XML to Account" doc:id="d45e8d49-cc34-40a1-9094-5e816739b85e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.Envelope.Body.notifications.Notification.*sObject map {
	Id : $.Id,
	ShippingStreet : $.ShippingStreet,
	Site : $.Site,
	LastModifiedDate : if ($.LastModifiedDate != null) $.LastModifiedDate else null,
	Type : $.Type,
	Website : $.Website,
	Description : $.Description,
	Fax : if ($.Fax != null) $.Fax as String else null,
	Industry : $.Industry,
	Name : $.Name,
	NumberOfEmployees : $.NumberOfEmployees as Number{class: "java.lang.Integer"} default 0,
	Description : $.Description,
	Phone : if ($.Phone != null) $.Phone as String else null,
	ShippingCity : $.ShippingCity,
	ShippingCountry : $.ShippingCountry,
	ShippingPostalCode : if ($.ShippingPostalCode != null) $.ShippingPostalCode as String else null,
	ShippingState : $.ShippingState,
	BillingCity : $.BillingCity,
	BillingCountry : $.BillingCountry,
	BillingPostalCode : if ($.BillingPostalCode != null) $.BillingPostalCode as String else null,
	BillingState : $.BillingState,
	BillingStreet : $.BillingStreet
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <jms:publish doc:name="JMS Topic A" doc:id="4ec30751-a4cd-44c6-8d83-33bb9e9af9ec" config-ref="ActiveMQ"
                    destination="A" destinationType="TOPIC" />
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Discard notification" doc:id="e265f2a7-2f70-436e-b141-1b675796afa0"
                    message="Trigger policy has been set to POLL. Skipping this message" />
            </otherwise>
        </choice>
    </flow>
    <flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73">
        <scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd">
            <scheduling-strategy>
                <fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.start.delay}" />
            </scheduling-strategy>
        </scheduler>
        <choice doc:name="Check trigger policy" doc:id="1b769229-18ed-4ba8-899a-d36ed773b7a4">
            <when expression="'poll' == '${trigger.policy}'">
                <flow-ref doc:name="Call Query SubFlow" doc:id="ade94c6f-c817-4584-a9cc-baab0e6fc415" name="querySubFlow"/>
				<ee:transform doc:name="Transform Object to JSON" doc:id="6fcbbe62-f544-45ce-acdf-82a0265a86d4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
				<jms:publish doc:name="JMS Topic A" doc:id="02cb8471-2f2f-47df-9051-2c53933fca56" config-ref="ActiveMQ"
                    destination="A" destinationType="TOPIC" />
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Discard notification" doc:id="477b45e3-27c9-455b-bb96-2e71418b7637"
                    message="Trigger policy has been set to PUSH. Skipping this message" />
            </otherwise>
        </choice>
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate"
                doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
                <flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
            </on-error-propagate>
        </error-handler>
    </flow>
	<sub-flow name="querySubFlow" doc:id="36c6d917-5bd5-4b05-a48a-09984e360687" >
		<os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
                    <os:default-value ><![CDATA[#[read(p('watermark.default.expression'))]]]></os:default-value>
                </os:retrieve>
		<salesforce:query doc:name="Query Accounts with filtering criteria from Salesforce Instance A" doc:id="e034ab44-2d15-4220-beb7-f7c24c758366" config-ref="Salesforce_Config_A">
			<salesforce:salesforce-query >SELECT AccountNumber,BillingCity,BillingCountry,BillingPostalCode,BillingStreet,Description,Fax,Id,Industry,LastModifiedById,LastModifiedDate,Name,NumberOfEmployees,ParentId,Phone
                        FROM Account WHERE (LastModifiedDate &gt; :lastQueryTimestamp AND NumberOfEmployees &gt; 5000)</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"lastQueryTimestamp" : vars.lastQueryTimestamp
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="Log accounts from  Salesforce" doc:id="08f68fa6-4350-4e49-86c3-0736bb52ecc1" message="#[output application/json --- payload]" />
		<os:store key="watermark" failIfPresent="false" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp">
                    <os:value>#[max(payload map $.LastModifiedDate)]</os:value>
                </os:store>
	</sub-flow>
</mule>


        
